h1, h2, h3, h4, h5, h6, p, li {
    margin: 0;
    padding: 0;
}

div, article, main, section, header, footer {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@media screen and (min-width:1440px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width:320px) and (max-width:767px) {
    html {
        font-size: 14px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    display: -webkit-flex;
    color: #fff;
}

ol, ul, li {
    list-style: none;
}

aside.left {
    width: 160px;
    height: 100%;
    background-color: #000;
    z-index: 1;
}

@keyframes logoSpin {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }

    50% {
        transform: rotateX(120deg) rotateY(180deg) rotateZ(240deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.logo {
    margin: 5px;
    animation: logoSpin 10s infinite linear;
}

.topic {
    width: 1200px;
    transform-origin: 75px 75px;
    transform: rotate(90deg);
}

.topic .chars3d {
    transform: rotateY(-15deg) rotateX(-15deg);
}

nav {
    background-color: #111;
    height: 100%;
    box-sizing: border-box;
    padding: 160px 2rem;
    transition: left linear 1s;
}

nav li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    flex-direction: row;
    background-color: #111;
    cursor: pointer;
}

.menu span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    left: 5px;
}

.menu .menu1 {
    top: 10px;
}

.menu .menu2 {
    top: 20px;
}

.menu .menu3 {
    top: 30px;
}

.menu_switch {
    display: none;
}

@media screen and (min-width:1440px) {
    nav {
        width: 480px;
    }
}

@media screen and (min-width:1280px) and (max-width:1439px) {
    nav {
        width: 400px;
    }
}

@media screen and (max-width:1279px) {
    nav {
        position: fixed;
        z-index: 0;
        left: -350px;
    }

    .menu {
        display: flex;
    }

    .menu_switch:checked+nav {
        left: 150px;
    }
}

nav li {
    font-size: 1.25rem;
    line-height: 200%;
}

nav ol {
    padding-left: 2rem;
}

nav a {
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
    color: #56C5FF;
}

main {
    background-color: #252525;
    flex: auto;
}

header {
    height: 160px;
    padding-left: 2rem;
}

header small {
    visibility: hidden;
}

header h2 {
    font-size: 3rem;
}

article {
    font-size: 2rem;
    padding: 0 2rem;
}

article pre {
    background-color: #111;
    padding: 1rem 2rem;
    line-height: 150%;
}