@charset "UTF-8";

.center1 {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto
}

.center2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}