html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #252525;
}

@keyframes stageTurning {
    from {
        transform: rotateX(-15deg) rotateY(0);
    }

    to {
        transform: rotateX(-15deg) rotateY(-359deg);
    }
}

.topic {
    position: fixed;
    width: 100%;
    top: 100px;
    text-align: center;
    transform: rotateX(-15deg);
    transform-style: preserve-3d;
}

.blank {
    display: inline-block;
    width: 2em;
}

.stage {
    position: fixed;
    width: 100%;
    height: 20%;
    top: 50%;
    left: 0;
    transform-style: preserve-3d;
    transform: rotateX(-15deg);
    animation: stageTurning 30s linear infinite;
}

.stage:hover {
    animation-play-state: paused;
}

.scene {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.scene h3 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.s1 {
    transform: translateZ(550px);
}

.s2 {
    transform: rotateY(30deg) translateZ(550px);
}

.s3 {
    transform: rotateY(60deg) translateZ(550px);
}

.s4 {
    transform: rotateY(90deg) translateZ(550px);
}

.s5 {
    transform: rotateY(120deg) translateZ(550px);
}

.s6 {
    transform: rotateY(150deg) translateZ(550px);
}

.s7 {
    transform: rotateY(180deg) translateZ(550px);
}

.s8 {
    transform: rotateY(-150deg) translateZ(550px);
}

.s9 {
    transform: rotateY(-120deg) translateZ(550px);
}

.s10 {
    transform: rotateY(-90deg) translateZ(550px);
}

.s11 {
    transform: rotateY(-60deg) translateZ(550px);
}

.s12 {
    transform: rotateY(-30deg) translateZ(550px);
}

.center {
    width: 550px;
    height: 450px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform-style: preserve-3d;
}

.logo {
    font-size: 50px;
    transform: translate3d(-2em, -2em, 0);
    height: 450px;
}